#pageOverlayChatOpen {
	ul#pageChatOpen-messages {
		list-style: none;
		padding: 1rem;

		li.pageChatOpen-message {
			background: rgba(0,0,0,0.01);
			box-shadow: rgba(0,0,0,0.1) 0.1rem 0.1rem 0.1rem;
			border-radius: 1rem;
			padding: 1rem;
			margin-bottom: 0.5rem;

			display: table; // hack to get messages to autosize
			max-width: max(75%, 20rem);

			&:not(.pageChatOpen-message-own) {
				border-bottom-left-radius: 0;
			}
			&.pageChatOpen-message-own {
				background: rgba(0,0,0,0.05);
				border-bottom-right-radius: 0;
				margin-inline-start: auto;
			}

			.pageChatOpen-message-footer {
				font-size: 0.9em;
				margin-bottom: -1em;
				text-align: end;

				.pageChatOpen-message-time {
					width: 2.5em;
					display: inline-block;
				}
			}
		}
	}
}
