#pageChat {
	#pageChatOptions {
		width: 100%;
		max-width: 100%;
		list-style: none;
		padding: 0;
	}
}
.pageChat-option {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	align-items: center;
	cursor: pointer;
	padding: 0.5rem 1rem;

	&:hover {
		background: rgba(0,0,0,0.02);
	}
	&:focus {
		background: rgba(0,0,0,0.05);
	}

	.pageChat-option-pfp,
	.pageChat-option-quickAction {
		width: 1em;
		height: 100%;
		aspect-ratio: 1;
		border-radius: 50%;
		border: none;
		padding: 0.3rem;
	}
	.pageChat-option-pfp {
		width: 4rem;
		background: none;
	}

	.pageChat-option-main {
		flex: 1;
		padding: 0.3rem;
		display: grid;
	}
	.pageChat-option-name {
		font-size: 1rem;
		margin-bottom: 0;
		font-weight: initial;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.pageChat-option-lastMsg-container {
		opacity: 0.7;
		margin-bottom: 0;
		white-space: nowrap;
		display: flex;
		overflow: hidden;

		> .pageChat-option-lastMsg {
			flex-shrink: 1;
			overflow: hidden;
			text-overflow: ellipsis;

			&::after {
				content: " • ";
				white-space: pre;
				font-weight: 200;
			}
		}
		> .pageChat-option-date {
			flex-shrink: 0;
			opacity: 0.8;
			font-weight: initial;
		}
	}

	&.pageChat-option-unread {
		.pageChat-option-name {
			font-weight: 500;
		}
		.pageChat-option-lastMsg-container {
			opacity: 1;
			font-weight: 500;
		}
	}
}
