#pageCamera {
	.page-header {
		display: flex;
		flex-flow: row nowrap;
		z-index: 1;
		> h1 {
			flex: 1;
		}

		.icon-btn-pfp {
			border-radius: 50%;
			> img {
				height: 1.5em;
				margin: -0.25em;
				border-radius: 50%;
				aspect-ratio: 1;
			}
		}
	}

	#cameraSensor, #cameraViewfinder, #cameraOutput {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		opacity: 0;
		background: black;
	}
	#cameraViewfinder {
		opacity: 1;
	}
	#cameraOutput.show {
		opacity: 1;
	}
	#cameraTrigger {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		width: max(10vw, 10vh);
		height: max(10vw, 10vh);
		background: rgba(0,0,0,0.5);
		border: none;
		border-radius: 50%;
		transform: translateX(-50%);
		transition: transform 0.2s;

		&::before {
			content: "";
			width: 70%;
			height: 70%;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			border: 0.5vw white solid;
			transform: translate(-50%, -50%);
			transition: transform 0.2s;
		}
		&:hover {
			& {
				transform: translateX(-50%) scale(0.9);
			}
			&::before {
				transform: translate(-50%, -50%) scale(calc(90 / 70));
			}
		}
	}
}
