#pageMessages {
	.portraitArea {
		display: flex;
		flex-flow: column nowrap;
	}

	ul#pageMessages-messages {
		flex: 1;
		overflow-y: auto;
		scroll-behavior: smooth;
		list-style: none;
		padding: 1rem;
		margin-bottom: 0;

		li.pageMessages-daySeparator {
			background: transparent;
			text-align: center;
			padding: 0.5rem;
		}

		li.pageMessages-message {
			background: rgba(0,0,0,0.01);
			box-shadow: rgba(0,0,0,0.1) 0.1rem 0.1rem 0.1rem;
			border-radius: 1rem;
			padding: 0.7rem;
			margin-bottom: 0.5rem;

			display: table; // hack to get messages to autosize
			max-width: min(max(75%, 20rem), 90%);

			&:not(.pageMessages-message-own) {
				border-bottom-left-radius: 0;
			}
			&.pageMessages-message-own {
				background: rgba(0,0,0,0.05);
				border-bottom-right-radius: 0;
				margin-inline-start: auto;
			}

			.pageMessages-message-footer {
				font-size: 0.9em;
				margin-top: -0.2em;
				margin-bottom: -0.7em;
				text-align: end;

				.pageMessages-message-time {
					width: 2.5em;
					display: inline-block;
				}
				.pageMessages-message-time:empty {
					display: none;
				}
			}
		}
	}

	.pageMessagesInput--valid {
		display: block;
	}
	.pageMessagesInput--invalid {
		display: none;
	}
	#pageMessagesInput:placeholder-shown,
	#pageMessagesInput:invalid {
		~ .pageMessagesInput--valid {
			display: none;
		}
		~ .pageMessagesInput--invalid {
			display: block;
		}
	}

	@media (prefers-color-scheme: dark) {
		ul#pageMessages-messages {
			li.pageMessages-message {
				background: rgba(255, 255, 255, 0.05);
				box-shadow: rgba(255, 255, 255, 0.1) 0.1rem 0.1rem 0.1rem;

				&.pageMessages-message-own {
					background: rgba(255, 255, 255, 0.1);
				}
			}
		}
	}
}
