html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	overflow-x: scroll;
	display: flex;
	flex-flow: row nowrap;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
.icon-btn {
	background: none;
	border: none;
	font-size: calc(1.375rem + 1.5vw);
	opacity: 0.5;
	transition: opacity 0.2s;
	&:hover, &:focus {
		opacity: 1;
	}

	&.icon-btn-back {
		min-width: 1em;
		background: url("/SocialMediaDemo/assets/images/icons/larr.svg") center center;
		background-size: contain;
		color: transparent;
	}
}
.page {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	position: relative;

	.page-header {
		padding: 1rem;
		display: flex;
		flex-flow: row nowrap;
		gap: 1rem;

		> * {
			font-size: calc(1.375rem + 1.5vw);
			margin-bottom: 0;
			line-height: 100%;
		}
	}
}

.portraitArea {
	width: 100%;
	max-width: 50vh;
	height: 100%;
	margin: auto;
}

@import "pageCamera";
@import "pageChat";
