@mixin darkPageContents {
	background: black;
	color: white;

	.icon-btn-left, .icon-btn-right, .icon-btn-refresh, .icon-btn-logout, .icon-btn-upload {
		filter: brightness(0) invert(1);
	}
	input, textarea {
		color: white;
	}

	.input-group {
		color: white;
		&::before {
			background: rgba(255,255,255,0.15);
		}
		> * {
			color: white;
		}
	}
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	overflow-x: scroll;
	display: flex;
	flex-flow: row nowrap;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}
html, body, .page {
	background: white;
}
.icon-btn {
	background: none;
	border: none;
	font-size: calc(1.375rem + 1vw);
	opacity: 0.5;
	transition: opacity 0.2s;
	&:hover, &:focus {
		opacity: 0.99;
	}

	&.icon-btn-left, &.icon-btn-right, &.icon-btn-refresh, &.icon-btn-logout, &.icon-btn-upload {
		min-width: 1em;
		background: url("/assets/images/icons/larr.svg") no-repeat center center;
		background-size: contain;
		color: transparent;
		align-self: center;
	}
	&.icon-btn-right {
		transform: rotate(180deg);
	}
	&.icon-btn-refresh {
		background-image: url("/assets/images/icons/refresh.svg");
		height: 75%;
	}
	&.icon-btn-logout {
		background-image: url("/assets/images/icons/logout.svg");
		height: 75%;
	}
	&.icon-btn-upload {
		background-image: url("/assets/images/icons/upload.svg");
		height: 75%;
	}

	&.icon-btn-pfp {
		border-radius: 50%;
		> img {
			height: 1.5em;
			margin: -0.25em;
			border-radius: 50%;
			aspect-ratio: 1;
		}
	}
}
.page {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	position: relative;

	display: flex;
	flex-flow: column nowrap;

	&.page-dark {
		@include darkPageContents;
	}

	&.page-overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
		&.page-overlay-show {
			transform: translateX(0);
		}
	}

	> .page-header {
		flex: 0;
		padding: 1rem;
		display: flex;
		flex-flow: row nowrap;
		gap: 1rem;

		> * {
			font-size: calc(1.375rem + 1vw);
			margin-bottom: 0;
			line-height: 100%;
			padding: 0;
		}
		> h1 {
			flex: 1;
		}
	}
	> .portraitArea {
		flex: 1;
	}

	.page-backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: transparent;
		pointer-events: none;
		transition: background-color 0.3s ease;

		&.page-backdrop-show {
			background-color: black;
			pointer-events: initial;
		}
	}
}

.portraitArea {
	width: 100%;
	max-width: max(50vh, 700px);
	height: 100%;
	margin: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.input-group {
	display: flex;
	gap: 0.3rem;
	padding: 1rem 2.5rem;
	position: relative;

	input, textarea {
		flex: 1;
		width: 100%;
		border: none;
		resize: none;
		overflow: hidden;
		outline: none !important;
	}

	&::before {
		content: "";
		position: absolute;
		top: 1rem;
		left: 1rem;
		bottom: 1rem;
		right: 1rem;
		background: rgba(0,0,0,0.1);
		border-radius: 1rem;
		pointer-events: none;
	}

	> * {
		background: transparent;
		padding: 0.4rem;
		border: none;
	}
}

@import "pageCamera";
@import "pageChat";
@import "pageLogin";
@import "pageMessages";
@import "pageSearch";
@import "pageProfile";
@import "pageProfileEdit";
@import "pageAttributions";

@media screen and (prefers-color-scheme: dark) {
	html, body, .page {
		@include darkPageContents;
	}
}
